<%- include('../includes/head.ejs') %>

</head>
<body>

        <div class="container-fluid h-100"> 
            <div class="row justify-content-center mt-5">
                <div class="col-lg-4 col-md-10 ">
                
                    <div class="card shadow p-4 w-100" >
                        <h2>  أدخل كلمة المرور الخاصة بك</h2>
                        <form method="POST" action="/reset-password/<%= token %>">
                          <input type="hidden" name="userId" value="<%= userId %>">
                          <input type="hidden" name="token" value="<%= token %>">
                        
                          <input type="password" name="password" placeholder="كلمة المرور الجديدة " required class="form-control mb-2">
                          <input type="password" name="confirmPassword" placeholder=" تأكيد كلمة المرور" required class="form-control mb-2">
                          <% if (error) { %><p class="text-danger"><%= error %></p><% } %>
                          <button class="btn btn-success">إعادة تعيين كلمة المرور </button>
                        </form>
                    </div>
                  </div>
            </div>
        </div>

    <script src="/js/flash-message.js"></script>
  </body>
</html>